#!/bin/bash

export TWITTER_ACCESS_TOKEN_KEY="REPLACE"
export TWITTER_ACCESS_TOKEN_SECRET="REPLACE"
export TWITTER_CONSUMER_API_KEY="REPLACE"
export TWITTER_CONSUMER_API_SECRET="REPLACE"

GOPATH="$(pwd)" go run src/TwitterStreamFollow/TwitterStreamFollow.go

